* {
	margin: 0;
	padding: 0;
}

#menu {
	display: flex;
	gap: 2rem;
	height: 8rem;
	justify-content: center;
	align-items: center;
	background-color: red;
}

#menu input[type="text"]{
	height: 1.6rem;
	width: 30rem;
	border: none;
	padding: 0.8em;
	border-radius: 0.6em;
}

#menu input[type="text"] svg {
	width: 40px;
	border: none;
}

#menu_icons {
	display: flex;
	gap: 0.8rem;	
}





